<app-header />

<main>
  <ul id="user">
    <!-- @for -->
    @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)" />
      </li>
    }

    <!-- *ngFor -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> -->
  </ul>
    
  <!-- @if -->
  @if (selectedUser) {
    <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id" />
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
  
  <!-- *ngIf -->
  <!-- <app-tasks  *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->
  

  <!-- <app-tasks [name]="selectedUser?.name" /> -->
</main>
